body {
    background: #343434;
    font-family: Montserrat;
}



.dark_space {
    width: auto;
    height: 150px;
    margin-right: -8px;
    margin-left: -8px;
    margin-top: -10px;
    padding: 0;
    background-image: url("/images/logo.png");
    background-size: 150px 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

hr{

    width:auto;
    text-align:center;


}


.para p{

    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #000;
    margin-top: -15px;
}


p{
    color: #000;
    font-size: 15px;
    font-weight: bold;
}

.container {
    width: 420px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 3px solid #000000;
    margin: 50px auto ;
}

.container h1 {
    text-align: center;
    color: #000;
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.container input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000000;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 10px 0 50px;
    outline: none;

}

input[type="checkbox"]{
    width: 15px; /*Desired width*/
    height: 15px; /*Desired height*/
}

.container input#username {
    background: #fff url('/images/user_sign.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.container input#username:focus {
    background: #fff url('/images/user_sign.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.container input#pwd {
    background: #fff url('/images/pass_sign.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.container input#pwd:focus {
    background: #fff url('/images/pass_sign.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.container input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.container input#Sign_in {
    width: 45%;
    height: 40px;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #090808;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding-left: 10px;
}

.container input#Sign_in:hover {
    background: #a8282e;
    color: #cccccc;
}


.container input#Sign_up {
    width: 45%;
    height: 40px;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #090808;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding-left: 10px;
    margin-left: 10%;
    float: right;
}

.container input#Sign_up:hover {
    background: #a8282e;
    color: #cccccc;
}

.container a#resetpass{
    float: right;
    font-size: 14px;

}
.container p label#checkbox{

    font-size: 10px;
    color: #000;

}