<!DOCTYPE html>
<html lang="en">
<head>

    <title>Error</title>
    <link rel="shortcut icon" href="../logo.png"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        #error {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 200px;
        }

        h1 {
            margin-top: 180px;
            text-align: center;
        }


    </style>

</head>
<body style="background-color:ghostwhite;">
<h1> PAGE NOT FOUND</h1>
<img id="error" src="images\smasthing.jpg" alt="error">
</body>
</html>