<!DOCTYPE HTML>
<html xmlns:th="https://thymeleaf.org"  lang="en">
<head>
    <title>forgot_password</title>
    <link rel="shortcut icon" href="/images/logo.png"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/forgot_password.css">
</head>


<body>
<div class ="dark_space"></div>
<div class="container">
    <h1>Forgot Password</h1>
    <hr>
    <form  action="#" th:action="@{/forgot_password}" th:object="${user}" method="post"> <!-- action where  you will direct and object is the model you created-->
        <p>
            <label>
        <p>Email</p>
        <input type="email"  id="email"  required th:field="*{email}" />
        <p style="color:#871515;" th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
        </label>
        </p>

        <p>
            <a href="/" id="gobacktoindex">Back to Sign In</a>
            <input type="submit" id="Reset_pass" value="Send Reset Instructions"/>
        </p>




    </form>

</div>





</body>
</html>