<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"  lang="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Form</title>
    <link rel="shortcut icon" href="images/logo.png"/>
    <link rel="stylesheet" href="css/form.css">
</head>
<body>
<img id="formlogo" src="images/form.jpg" alt="formlogo">
<div  class="form">

<form  action="#" th:action="@{/resultsform}"  th:object="${form}" method="post">
    <p><input type="text" placeholder="First Name" required th:field="*{firstname}"/></p>
    <p><input type="text" placeholder="Last Name" required th:field="*{lastname}"/></p>
    <p><input type="email" placeholder="Email Address" required th:field="*{email}"/></p>
    <p><input id ="pwd1" type="password" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" th:field="*{password}"/></p>
    <p><input id ="pwd2" type="password" placeholder="Confirm Password" required th:field="*{repassword}" /></p>
    <p style="color:#ff0000;" th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
    <p><input type="submit" value="Submit"/>
        <input type="reset"  value="Reset"/></p>

    <p><a href="/" id="return">Return</a></p>
</form>
</div>
</body>
</html>