<!DOCTYPE HTML>
<html xmlns:th="https://thymeleaf.org" >
<head>
    <title>K&K</title>
    <link rel="shortcut icon" href="/images/logo.png"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
<img id="logo" src="images/logo.png" alt="Logo">
<div  class="container">
<form action="#" th:action="@{/resultsindex}" th:object="${index}" method="post"> <!-- action where  you will direct and object is the model you created-->
    <p><label>
        <input type="email" placeholder="Email Address"  required th:field="*{email}"/>
    </label></p>
    <p> <label>
        <input id="pwd" type="password"  placeholder="Password"  required  th:field="*{password}"/>

    </label></p>

    <p><label><input id ="checkbox" type="checkbox" onclick="myFunction()">Show Password</label></p>
    <p><input type="submit" value="Submit"/>
    <p><a href="/form.html">Sign Up</a></p>
    <p><a href="/insert.html">Insert</a></p>
</form>
</div>



<script>

    function myFunction() {
        const x = document.getElementById("pwd");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

</body>
</html>