<!DOCTYPE HTML>
<html>
<head>
    <title>K&K</title>
    <link rel="shortcut icon" href="/images/logo.png"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        #logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 200px;
        }

        #login {
            display: block;
            margin-left: auto;
            margin-right: 728px;
            margin-top: 25px;
        }


    </style>

</head>

<body style="background-color:ghostwhite;">
<img id="logo" src="images\logo.png" alt="Logo">
<a href="form.html"><img id="login" src="images\login.jpg" alt="Login"></a>

</body>
</html>