<!DOCTYPE HTML>
<html xmlns:th="https://thymeleaf.org"  lang="en">
<head>
    <title>K&K</title>
    <link rel="shortcut icon" href="/images/logo.png"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>


<body>
<div class ="dark_space"></div>
<div class="container">
    <h1>Sign In</h1>
    <hr>
    <form action="#" th:action="@{/resultsindex}" th:object="${index}" method="post"> <!-- action where  you will direct and object is the model you created-->
        <p>
            <label>
                <p>Username</p>
                <input type="text"  id="username"  required th:field="*{username}" />
            </label>
        </p>
        <p>
            <label>
                <p>Password</p>
                <input id="pwd" type="password"  required  th:field="*{password}"/>
            </label>
        </p>

        <p><label><input id ="checkbox" type="checkbox" onclick="changepasstotext()">Show Password</label>
            <a href="https://www.w3schools.com/" id="resetpass">Reset Password?</a>
        </p>
        <p>
            <input type="submit" id="Sign_in" value="Sign In"/>
            <input type="button" id="Sign_up" onclick="gotoform()" value="Sign Up"/>

        </p>

    </form>

</div>






    <script>

        function gotoform() {
            location.replace("form.html")
        }

        function changepasstotext() {
            const x = document.getElementById("pwd");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>

    </body>
</html>