<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Insert Form</title>
    <link rel="shortcut icon" href="images\logo.png"/>
</head>
<body style="background-color:ghostwhite;">

<h1>Insert Form</h1>
<form action="#" th:action="@{/insertResultsform}" th:object="${insert}" method="post">
    <p>Name: <label>
        <input type="text" th:field="*{name}"/>
    </label></p>
    <p>SSN: <label>
        <input type="text" th:field="*{ssn}"/>
    </label></p>
    <p>Account Type: <label>
        <input type="text" th:field="*{accountType}"/>
    </label></p>
    <p>Balance: <label>
        <input type="text" th:field="*{balance}"/>
    </label></p>
    <p><input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/></p>
    <p><a href="/">Return</a></p>
</form>
</body>
</html>