<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.org"  lang="en">
<head>
    <title>reset password</title>
    <link rel="shortcut icon" href="/images/logo.png"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/resetPassword.css">
</head>

<body>

    <div class ="dark_space"></div>
    <div class="container">
        <h1>Enter new password</h1>
        <hr>
        <form action="#" th:action="@{/reset-password}" th:object="${user}" method="post">

            <p>
                <label>
            <p>Email</p>
            <input type="text"  id="email"  required th:field="*{email}" readonly/>
            </label>
            </p>

            <p>
                <label>
            <p>Password</p>
            <input type="password"  id="pwd"  required th:field="*{password}"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  />
            </label>
            </p>
            <p>
                <label>
            <p>Re-password</p>
            <input id="pwd1" type="password"  required  th:field="*{repassword}"/>
            </label>
            </p>
                <a href="/" id="gobacktoindex">Back to Sign In</a>
                <input type="submit" id="Reset_pass" value="Reset"/>
            </p>

            <p style="color:#871515;" th:text="${message}" th:if="${message ne null}" class="alert alert-primary">
            </p>

        </form>
    </div>




</body>
</html>