<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/images/logo.png"/>
    <title>Show message</title>
    <meta charset="UTF-8">
</head>
<body style="background-color:ghostwhite;">

<h1>Results Index</h1>
<!--
<p th:text="'Name: ' + ${index.firstname}"></p>
<p th:text="'LastName: ' + ${index.lastname}"></p>
-->

<p th:text="'Email: ' + ${index.email}"></p>
<p th:text="'Password: ' + ${index.password}"></p>

<a href="/">Submit another message</a>

</body>
</html>